.title {
  text-align: center;
  margin-top: 5%;
  font-size: 5em;
  font-family: "Anton", sans-serif;
}

.row {
  display: flex;
  text-align: center;
}

.column {
  flex: 50%;
}

.button {
  cursor: grab;
}

.button:hover {
  background-color: black;
  border-radius: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
