.title {
  text-align: center;
  margin-top: 5%;
  font-size: 5em;
  font-family: "Anton", sans-serif;
}

.row {
  display: flex;
  text-align: center;
}

.column {
  flex: 50%;
}

.button {
  color: black;
  background-color: #d26122;
  border-radius: 100px;
  cursor: grab;
  font-size: 1em;
}
